@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');


nav ul a,
nav .brand-logo {
  color: #444;
}

.carousel .carousel-item {
  width:500px !important;
}

.bigger{
  font-size: 17px;
}

.material-placeholder{
    display: inline-block;
    margin-right: 20px;
}

.font1 {
  font-family: 'PT Serif', serif;
}

.mdvip{
  display: inline-block;
}

.nav-wrapper{
  display: flex;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.site-logo{
  margin: 10px 10px;
  display: inline-block;
}

.big-slider{
  height: calc(100vh - 64px) !important;
}


.big-slides{
  height: calc(100vh - 64px) !important;
}

.physicians{
  margin-top: 20px;
}

.polaroid{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.polar-cap{
  padding: 5px;
}

.spacer{
  margin-top: 5px;
  height: 30px;
  width: 100vw;
}

.question{
  display: block;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
