@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

.inappbrowser-app-bar {
  height: 70px;
  background-color: white !important;
  z-index: 9999999;
}

nav ul a,
nav .brand-logo {
  color: #444;
}


.bigger{
  font-size: 17px;
}

.nav-wrapper{
  display: flex;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

.site-logo{
  margin: 10px 10px;
  display: inline-block;
}

.big-slider{
  height:55vh !important;
}


.big-slides{
  height: 55vh !important;
}

.physicians{
  margin-top: 20px;
}

.spacer{
  height: 30px;
  width: 100vw;
}

.question{
  display: block;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
